---
layout: generic_collection_item
image_viewer: 'simple'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Author'
    value: page.author
  - label: 'Type'
    value: page.object_type
  - label: 'Subject'
    value: page.subject
  - label: 'Description'
    value: page.description
  - label: 'Date'
    value: page._date
  - label: 'Source'
    value: page.source
  - label: 'Comment Count'
    value: page.comment_count
  - label: 'Share Count'
    value: page.share_count
  - label: 'Reaction Count'
    value: page.reaction_count
---
